<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="icon" href="img\logo-white.ico" type="image/x-icon">
  <title>Cinemacraft Studios|Home</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Quantico&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css" />

  <!-- ToDo Update/development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

</head>

<body class="mt-5">
  <header id="navbar">
  <nav class="navbar fixed-top navbar-expand navbar-dark bg-dark shadow"  id="main_nav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link"
             href="#our-mission">Our Mission</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             href="#trailer">Trailer</a>
        </li>

        <li class="nav-item">
          <a class="" href="#"
             aria-current="page">
            <img class="img-fluid" style="max-width: 40%; margin-left: 40%" src="img/logo-white.PNG"
                width="120" height="120"/>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             href="#jobs">Jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             href="cinemacraftstudios.org/blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             href="#social">Contact</a>
        </li>
      </ul>
  </nav>
</header>
  <main>
    <div id="c_showcase" class="carousel slide w-100 mx-auto" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#c_showcase" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#c_showcase" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#c_showcase" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#c_showcase" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#c_showcase" data-bs-slide-to="4" aria-label="Slide 5"></button>
      </div>
      <div class="carousel-inner">
        <carousel title=""                  info="" img="img/intro/daves-room.png" active="true"></carousel>
        <carousel title="Invisible Hand"    info="Create amazing builds" img="img/intro/building-i.png"></carousel>
        <carousel title="Palpatines Office" info="Re-Visualize George Lucas Vision" img="img/intro/vfx-l.png"></carousel>
        <carousel title="Mustafar"          info="Recreate entire worlds in our building department" img="img/intro/building-m.png"></carousel>
        <carousel title=""                  info="" img="img/intro/ccs.png"></carousel>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#c_showcase" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#c_showcase" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <br>
    <section id="our-mission" class="row col-9 mx-auto">
      <h1 class="text-center my-5">Our Mission</h1>
      <article class="col-12 col-xxl-6 col-xl-6 col-md-6 col-lg-6">
        <h2>Recreating Revenge Of The Sith In Minecraft.</h2>
        <p>
          Or a little bit more detailed: our mission is to bring the excellent work that George Lucas has done into minecraft.
          Our first target is to recreate <span class="fw-bold">Star Wars - Revenge of the Sith</span> and translate it into minecraft.
          We don't plan to do this as an animation(blender, cinema4d, etc.) but rather in-game. Everything will be recorded in minecraft
          and then edited - so the space ships are flying, the blaster actually shoots and so on.
          But before we do that we are creating a trailer as an proof of concept and effect test ... and a star wars trailer in
          minecraft itself is already pretty cool. If you want to keep up-to-date or even help you can use the links below.
          <br>
        </p>
        <div class="alert alert-warning" role="alert">
          Note that discord is the main social media presence and where we organize everything
        </div>
      </article>
      <div class="col-1"></div>
      <div class="col-3 float-right">
        <img src="img/rots-poster.jpg" class="shadow w-100">
      </div>
    </section>

    <section id="trailer" class="col-8 mx-auto">
      <h1 class="text-center my-5">Our Trailer</h1>
      <div class="ratio ratio-16x9">
        <iframe class="shadow" src="https://www.youtube.com/embed/yQ6z7X7Rotc" title="YouTube video" allowfullscreen></iframe>
      </div>
    </section>
    <section id="jobs" class="col-8 mx-auto">
      <h1 class="text-center my-5">Open Positions</h1>
      <div id="cards" class="row justify-content-center">
        <div class="card text-white bg-dark mb-3 m-3" style="max-width: 18rem;" v-for="p in positions">
          <div class="card-header"> {{p.name}}  <span v-if="p.tag" class="badge bg-secondary"> {{p.tag}}</span></div>
          <div class="card-body">
            <p class="card-text"> {{p.description}} </p>
            <div class="d-grid gap-2 d-md-block">
              <button class="btn btn-outline-primary" type="button">Discord</button>
              <button class="btn btn-outline-primary" type="button">Mail</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer id="social">
    <hr>
    <div style="margin-left: 2vw;">
      <p>© 2020 Cinemacraft Studios</p>
      <a class="fa fa-youtube"    href="https://www.youtube.com/channel/UCmr6tSNmwZpdAx6nR2MwJqg"></a>
      <a class="fa fa-twitter"    href="#"></a>
      <a class="fa fa-instagram"  href="#"></a>
      <a class="fa fa-reddit"     href="#"></a>
      <p>
        Questions? Concerns? Contact us at
        <a href="mailto:sewance@cinemacraftstudios.org" target="_blank">sewance@cinemacraftstudios.org</a>!
      </p>
    </div>

  </footer>

  <script src="custom-components.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>
