body {
    background: #404040;
    color: white;
    font-family: 'Quantico', sans-serif;
}

.fa {
    padding: 6px;
    font-size: 20px;
    width: 20px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    box-sizing: content-box;
}

.fa:hover {
    opacity: 0.7;
    color: white;
}

.dc {
    padding-bottom: 6px;
    box-sizing: content-box;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background-image: linear-gradient(to bottom right, #405DE6, #833AB4, #E1306C, #F56040, #FCAF45, #FFDC80);
    color: white;
}

.fa-reddit {
    background: #ff5700;
    color: white;
}