body {
  font-family: 'Quantico', sans-serif;
  background-color: #333;
  color: white;
}
h1 {
  size: 50px;
}
h2 {
  size: 40px;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
ul {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1em
}

.center-video {
  width: 95vmin;
}

@media screen and (orientation:landscape) {
  .center-video {
    height: 60vh;
    width: auto;
  }
}

/*@media screen and (orientation:portrait) {*/
  li a, .dropbtn {
    font-size: 2em;
  }

  li a.smallTab {
    padding: 12px 15px 2px;
  }
/*}*/

li a:hover, .dropdown:hover .dropbtn, .active {
  background-color: red;
}
li.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.active {
  background-color: #D00909;
}

#credits {
  padding-top: 3vh;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

#credits p {
  color: #0680F8;
}

article {
  text-align: center;
}
.sexy_line {
  height: 1px;
  background: white;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(#333), to(#333), color-stop(50%, #999999));
}
footer {
  background-color:  #404040;
}
a {
  color: red;
}
